.PollRanking {
  width: 100%;
}

.PollRanking .ui.table td.ranking {
  padding-right: 1em;
}

.PollRanking .RankingPagination {
  text-align: center;
  margin-top: 40px;
}

.PollRanking .ui.table td a {
  color: var(--primary);
}

.PollRanking .ui.table td a:hover {
  color: var(--primary-dark);
}
