.PollProgress {
  display: flex;
  width: 100%;
  height: 48px;
  background-color: #7d8499;
  border-radius: var(--radius);
}

.PollProgress .PollOption:first-child .bg {
  border-radius: var(--radius) 0px 0px var(--radius);
}

.PollProgress .PollOption:last-child .bg {
  border-radius: 0px var(--radius) var(--radius) 0px;
}

.PollProgress.docked {
  position: fixed;
  border-radius: 0px;
  height: 72px;
  top: calc(100vh - 72px);
  left: 0;
  z-index: 999;
}

.PollProgress.docked .PollOption:first-child .bg {
  border-radius: 0px;
}

.PollProgress.docked .PollOption:last-child .bg {
  border-radius: 0px;
}

.PollProgress .mask {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: var(--text-on-primary);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.PollProgress .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: 1px solid white;
}

.PollProgress .PollOption:first-child .bg {
  border-left: none;
}

.PollProgress .winner .bg {
  background: linear-gradient(to left, var(--primary-gradient), var(--primary));
}

.PollProgress .text {
  z-index: 100;
}
