.VotePage .description {
  font-size: 17px;
  line-height: 26px;
  letter-spacing: -0.2px;
  margin-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.VotePage .ui.header.sub.description a {
  color: var(--primary);
}

.VotePage .ui.header.sub.description a:hover {
  color: var(--primary-dark);
}

.VotePage .options {
  margin-top: 40px;
}

.VotePage .options.many .ui.radio.checkbox {
  width: 100%;
}

.VotePage .voting-with {
  margin-top: 40px;
  display: block;
}

.VotePage .vote {
  margin-top: 40px;
}

.VotePage .no-balance {
  margin-top: 16px;
  color: var(--secondary-text);
}

@media (min-width: 768px) {
  .VotePage .vote .ui.button {
    min-width: 200px;
  }
}

@media (max-width: 768px) {
  .VotePage {
    margin-bottom: 16px;
  }

  .VotePage .vote {
    display: flex;
    flex-flow: row nowrap;
  }

  .VotePage .vote .ui.button {
    flex: 1 0 auto;
  }
}
