.VotePage .options {
  margin-top: 40px;
}

.VotePage .voting-with {
  margin-top: 40px;
  display: block;
}

.VotePage .vote {
  margin-top: 40px;
}

.VotePage .no-balance {
  margin-top: 16px;
  color: var(--secondary-text);
}

@media (min-width: 768px) {
  .VotePage .vote .ui.button {
    min-width: 200px;
  }
}

@media (max-width: 768px) {
  .VotePage .vote {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 16px;
  }

  .VotePage .vote .ui.button {
    flex: 1 0 auto;
  }
}
