.PollDetailPage .ui.header.sub.description {
  margin-bottom: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.PollDetailPage .ui.header.sub.description a {
  color: var(--primary);
}

.PollDetailPage .ui.header.sub.description a:hover {
  color: var(--primary-dark);
}

.PollDetailPage > .stats {
  margin-bottom: 48px;
}

.PollDetailPage .row {
  display: flex;
}

.PollDetailPage .progress {
  flex: 1 0 auto;
}

.PollDetailPage .main.row {
  margin-bottom: 18px;
}

.PollDetailPage .sub.row {
  justify-content: space-between;
}

.PollDetailPage .options {
  display: flex;
}

.PollDetailPage .votes {
  margin-top: 6.8em;
  margin-bottom: 9em;
}

.PollDetailPage .votes-pagination {
  text-align: center;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .PollDetailPage .votes {
    margin-top: 0px;
  }

  .PollDetailPage .ui.basic.table thead tr {
    display: none !important;
  }

  .PollDetailPage .ui.pagination.menu .item {
    margin-left: 8px;
    min-width: 15px;
    padding: 12px;
  }
}
