.OptionBar {
  margin-bottom: 24px;
}

.OptionBar .bar {
  height: 24px;
  min-width: 16px;
  border-radius: 8px;
  margin-bottom: 4px;
}

.OptionBar .label {
  font-size: 12px;
  font-weight: bold;
}

.OptionBar.color-0 .bar {
  background: var(--night-time);
}

.OptionBar.color-1 .bar {
  background: var(--luisxvi-violet);
}

.OptionBar.color-2 .bar {
  background: var(--candy-purple);
}

.OptionBar.color-3 .bar {
  background: var(--summer-red);
}

.OptionBar.color-4 .bar {
  background: var(--oj-not-simpson);
}
