.PollsTable {
  margin-bottom: 96px;
}

.PollsTable .symbol {
  padding-right: 0.3em;
}

.PollsTable .pagination-wrapper {
  margin: 24px;
  display: flex;
  justify-content: center;
}

.PollsTable .mobile-header {
  display: none;
  font-weight: bold;
}

.PollsTable .empty {
  color: var(--secondary-text);
  margin: 20px;
  text-align: center;
}

.PollsTable .finished .title a {
  color: var(--disabled-text);
}

.PollsTable .finished td,
.PollsTable .finished td div {
  color: var(--disabled-text) !important;
}

.PollsTable .ui.basic.table tbody tr:hover {
  cursor: pointer;
  background-color: var(--hover);
}

.PollsTable .ui.basic.table tbody tr td:first-child {
  transition: padding 0.2s ease-in-out;
}

.PollsTable .ui.basic.table tbody tr:hover td:first-child {
  padding-left: 16px;
}

.PollsTable .ongoing:hover .title a {
  color: var(--text);
}

.PollsTable .finished .title a {
  font-weight: normal;
}

@media (max-width: 768px) {
  .PollsTable .ui.basic.table thead tr {
    display: none !important;
  }

  .PollsTable .mobile-header {
    display: inline;
  }

  .PollsTable .ui.pagination.menu .item {
    margin-left: 8px;
    min-width: 15px;
    padding: 12px;
  }
}
